@model List<EventModel>

<input type="hidden" id="eventId" value="@ViewBag.EventId" />

<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <a class="btn btn-secondary" asp-controller="Audit" asp-action="Index">@language.Getkey("Back")</a>
</div>

<h3 class="text-uppercase text-center">@language.Getkey("List for Audit")</h3>
<table class="table text-center" id="AuditTable" >
    <thead class="thead-dark">
    <tr>
             <th scope="col">#</th>
             <th scope="col">@language.Getkey("Vote At")</th>
             <th scope="col">@language.Getkey("VoterId")</th>
             <th scope="col">@language.Getkey("CandidateId")</th>
             <th scope="col">@language.Getkey("EventId")</th>
             <th scope="col"></th>
    </tr>
    </thead>
    </table>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        
             var eventId = $("#eventId").val(); // Retrieve the ID value

        $('#AuditTable').DataTable({
        
            "ajax" : {
                "url" : '/Audit/GetVotesForAudit/' + eventId, 
                "type": 'GET',
                "dataType": 'json',
                "data": { "id": eventId } // Pass the ID as data parameter
            },
            "columns": [
               {'data' : 'id'},
               {'data' :'votedAtTime' },
               {'data' :'voterId' },
               {'data' :'candidateId' },
               {'data' :'eventId' }
            ],
            "dom" : 'Bfrtip',
            "buttons": [
                {
                    extend : 'copy',
                    className: 'btn brn-dark rounded-0',
                    text: '<i class="far fa-copy"></i> Copy'
                },
                {
                    extend : 'excel',
                    className: 'btn brn-dark rounded-0',
                    text: '<i class="far fa-file"></i> Excel'
                },
                {
                    extend : 'pdf',
                    className: 'btn brn-dark rounded-0',
                    text: '<i class="far fa-file-pdf"></i> Pdf'
                },     
                {
                    extend : 'csv',
                    className: 'btn brn-dark rounded-0',
                    text: '<i class="far fa-file-csv"></i> CSV'
                },     
                {
                    extend : 'print',
                    className: 'btn brn-dark rounded-0',
                    text: '<i class="far fa-print"></i> Print'
                }            
            ]
        });
    });

    </script>
}